<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.title</title>
    <link rel="shortcut icon" href="/Image/favicon_img.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    @RenderSection("css")
</head>
@{
    var mysetting = ""; var dashboard = "";
}

<body class="d-flex justify-content-between flex-column min-vh-100">
    <header class="sticky-top w-100 bg-transparent">
        <nav class="navbar">
            <div class="logo" title="Logo">
                <a asp-controller="home" asp-action="index">
                    <img src="/Image/logo-small.png" alt="Logo" srcset="">
                </a>
            </div>
            <div class="nav">
                <ul class="d-flex">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Customer"))
                        {
                            <li>
                                <a asp-controller="Customer" asp-action="bookservice" class="active hover" title="Book now">
                                    Book
                                    now
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Customer" asp-action="bookservice" class="active hover" title="Book now">
                                Book now
                            </a>
                        </li>
                    }
                    <li><a asp-controller="static" asp-action="prices" title="Price & History">Price & Services</a></li>
                    <li><a href="#" title="Warrenty">Warrenty</a></li>
                    <li><a href="#" title="Blog">Blog</a></li>
                    <li><a asp-controller="static" asp-action="contact" title="Contact">Contact</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Customer"))
                        {
                            <li class="d-none loggedin"><a asp-controller="Customer" asp-action="Dashboard"
                            title="My Dashboard">My Dashboard</a></li>
                            <li class="d-none loggedin"><a asp-controller="Customer" asp-action="MySetting"
                            title="My Settings">My
                                    Settings</a></li>
                        }
                        else if (User.IsInRole("ServiceProvider"))
                        {
                            <li class="d-none loggedin"><a asp-controller="ServiceProvider" asp-action="Dashboard"
                            title="My Dashboard">My Dashboard</a></li>
                            <li class="d-none loggedin"><a asp-controller="ServiceProvider" asp-action="" title="My Settings">My
                                    Settings</a></li>

                        }
                        <li class="d-none loggedin"><a href="/logout" title="Logout">Logout</a></li>
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="/?modalRequest=true" id="login" class="active hover" title="Login">Login</a>
                        </li>
                        <li><a href="/sp-signup" title="Become a Helper" class="active hover">Become a Helper</a></li>
                    }
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Customer")) { dashboard = "/customer/Dashboard"; mysetting = "/mysetting"; }
                    else if (User.IsInRole("ServiceProvider")) { dashboard = "/sp/Dashboard"; mysetting = "/sp/mysetting"; }
                    <div class="d-flex">
                        <div class="notification position-relative">
                            <img src="/Image/Icon Notification.png" alt="">
                            <span class="badge rounded-circle position-absolute">2</span>
                        </div>
                        <div class="user_pic d-inline-block loggedin" data-bs-container="body" data-bs-toggle="popover"
                        data-bs-placement="bottom" data-bs-trigger="focus" tabindex="0"
                        data-bs-content="<a href='@dashboard' class='userInfoItem d-block'>My Dashboard</a><a href='@mysetting' class='userInfoItem d-block'>My Settings</a><a href='/logout' class='userInfoItem d-block'>Logout</a>"
                        data-bs-html="true" data-bs-offset="-70,20"
                        title="<div class='userInfoText'>Welcome,<b>@User.Identity.Name</b></div>">
                            <img src="/Image/user_logo.png" alt="">
                            <img src="/Image/down.png" alt="">
                        </div>
                    </div>
                }
            </div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="backblack"></div>
        </nav>
    </header>
    <div id="loaderContainer">
        <div class="loader rounded-circle"></div>
    </div>

    @RenderBody()
    <footer>
        <div class="footer-menu d-flex justify-content-evenly align-items-center flex-wrap">
            <div class="logo"><img src="/Image/white_logo_transparent_background copy 4.png" alt=""></div>
            <div class="menu">
                <ul class="d-flex align-items-center justify-content-center flex-wrap m-0">
                    <li><a href="/" title="Home">HOME</a></li>
                    <li><a asp-controller="static" asp-action="about">ABOUT US</a></li>
                    <li><a href="#" title="Testimonal">TESTIMONIAL</a></li>
                    <li><a asp-controller="static" asp-action="faq" title="FAQs">FAQS</a></li>
                    <li><a href="#" title="Insurance Policy">INSURANCE POLICY</a></li>
                    <li><a href="#" title="Impressum">IMPRESSUM</a></li>
                </ul>
            </div>
            <div class="social d-flex align-items-center justify-content-center">
                <div><img src="/Image/facebook-mobile-menu.png" class="" title="Facebook" alt=""></div>
                <div><img src="/Image/instagram-mobile-menu.png" class="" title="Instagram" alt=""></div>
            </div>
        </div>
        @RenderSection("terms", false)
    </footer>
    @RenderSection("policy", false)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @RenderSection("validation", false)
    @RenderSection("ajaxrequest", false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        var isAuthenticated = '@User.Identity.IsAuthenticated';
        if (isAuthenticated == 'True') {
            setInterval(() => {
                $.get("/Home/IsLoggedin", (isAuthenticated, status) => {
                    if (!isAuthenticated) {
                        window.location.href = "/?logoutModal=true"
                    }
                })
            }, 1000)
        }
        $(window).on('load', () => {
            $("#loaderContainer").hide()
        })
    </script>
    @RenderSection("JavaScript")
</body>

</html>